<section class="profile-section">
  <div class="profile-container">
    <div class="profile-image">
      <img src="/image/queen.jpg" alt="<%= lawyer.name %>">
    </div>
    <div class="profile-info">
      <h1><%= lawyer.name %></h1>
      <h3><%= lawyer.title %></h3>
      <p><%= lawyer.description %></p>
      <div class="contact-details">
        <p>Email: <a href="mailto:<%= lawyer.email %>"><%= lawyer.email %></a></p>
        <p>Phone: <%= lawyer.phone %></p>
        <p>Location: <%= lawyer.location %></p>
      </div>
      <div class="details">
        <h2>Experience: <%= lawyer.experience %></h2>
        <div class="card-container">
          <div class="card">
            <h3>Specialties</h3>
            <ul>
              <% lawyer.specialties.forEach(specialty => { %>
                <li><%= specialty %></li>
              <% }) %>
            </ul>
          </div>
          <div class="card">
            <h3>Awards</h3>
            <ul>
              <% lawyer.awards.forEach(award => { %>
                <li><%= award %></li>
              <% }) %>
            </ul>
          </div>
          <div class="card">
            <h3>Education</h3>
            <ul>
              <% lawyer.education.forEach(edu => { %>
                <li><%= edu %></li>
              <% }) %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
